<div [hidden]="userCheck()" class="user-info-container">
  <input type="text" class="form-control" placeholder="Enter your name:" #userName>
  <button type="button" class="btn btn-success mt-3" (click)="createUser(newGrid, userName.value); userName.value=''; ">Create New Board</button>
</div>
<div *ngIf="userCheck()" class="rock-grid-container">
  <table >
    <thead>
      <th class="text-center">A</th>
      <th class="text-center">B</th>
      <th class="text-center">C</th>
      <th class="text-center">D</th>
      <th class="text-center">E</th>
      <th class="text-center">F</th>
      <th class="text-center">G</th>
      <th class="text-center">H</th>
      <th class="text-center">I</th>
      <th class="text-center">J</th>
      <th class="text-center">K</th>
    </thead>
    <tr *ngFor="let row of secondGrid">
      <td *ngFor="let item of row" [class]="this.problemService.highlight(item)" (click)="validMove(item)" class="board-item" id="{{item !== null ? item.coordX : 'No'}}-{{item !== null ? item.coordY : 'No'}}">
        <div [class]="this.problemService.setClass(item)">
        </div>
      </td>
    </tr>
  </table>
  <button type="button" (click)="submitRoute(newGrid, difficulty.value); difficulty.value=''" class="btn btn-success mt-3">Submit Route</button>
  <p> Move Number: {{ this.grid.moveNum }} </p>
  <div class="gradeSelect">
    <select class="form-control mt-3" #difficulty>
      <option value="">Choose a difficulty:</option>
      <option value="VB">VB</option>
      <option value="V1">V1</option>
      <option value="V2">V2</option>
      <option value="V3">V3</option>
      <option value="V4">V4</option>
      <option value="V5">V5</option>
      <option value="V6">V6</option>
      <option value="V7">V7</option>
      <option value="V8">V8</option>
      <option value="V9">V9</option>
      <option value="V10">V10</option>
    </select>
  </div>
</div>
