<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggle">
    <a class="navbar-brand" routerLink=''>Build-A-Board</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLink="problem-list">View Problems</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="help">Help</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="admin">Admin</a></li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a class="nav-link">{{userName}}</a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a (click)="logout()" class="nav-link">Log out</a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a (click)="login()" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container d-flex mt-5">
  <router-outlet></router-outlet>
</div>
