<h2>User Submitted Routes</h2>

<div class="row">
  <div *ngFor="let grid of grids | async" class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 (click)="goToDetailPage(grid)">
          <div class="row prob-list-inner">
            <div class="col">
              User:&nbsp;&nbsp;<span class="{{grid.name.length > 13 ? 'small-font' : 'no'}}">{{grid.name}}</span>
              <br>
              Difficulty:&nbsp;&nbsp;{{grid.difficulty}}
            </div>
            <div *ngIf="currentRoute === '/admin'">
              <div class="delete">
                <button class="btn btn-danger mr-3" (click)="beginDeletingGrid(grid)">Delete</button>
              </div>
            </div>
          </div>
        </h4>

      </div>
    </div>
  </div>
</div>
